<%- include('header.ejs') -%>

<main>
  <h1>TEAM ALM</h1>
  <div>
    <% users.forEach(function(user) { %>
    <p>
      <strong> <%= user.username %> – </strong>
      <em><%= user.firstName %> <%= user.surname %></em>
      <% }); %>
    </p>
  </div>

  <img src="/images/original.png" alt="Group mascot" width="600" />
</main>

<%- include('footer.ejs') -%>
