<%- include('header.ejs') -%>

  <h1>Group 4</h1>

  <% users.forEach(function(user) { %>
  <h2>
    <strong> <%= user.username %> – </strong>
    <em><%= user.firstName %> <%= user.surname %></em>
    <% }); %>
  </p>

<%- include('footer.ejs') -%>
